*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-image: url('../assets/bg-image.webp');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    background-origin: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
    background-attachment: fixed;
}
.page_wraper{
   
    padding-bottom: 30px;
}
.container{
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
}
h1{
    color: aliceblue;
    text-align: center;
    text-transform: capitalize;
}
.d-none{
    visibility: hidden;
}
.error{
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    color: #3b3b3b;
    text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.form{
    max-width: 500px;
    border-bottom: 1px solid #000;
    max-height: 400px;
    height: 100%;
    padding: 70px 10px 20px;
    margin: 0 auto;
    width: 100%;
    label{
        display: block;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 20px;
    }
    .input_search{
        display: inline-block;
        width: 97%;
        border: 2px solid #3b3b3b;
        border-radius: 20px;
        padding: 5px;
        font-size: 20px;
        margin-bottom: 10px;
        padding-left: 10px;        
        background: rgba(255,255,255, 0.4);
        text-transform: capitalize;
    }
    input::placeholder{
        color: #000;
    }
    .btn_container{
        display: flex;
        justify-content: space-around;
        .btn_search{
            text-transform: capitalize;
            font-size: 16px;
            padding: 5px;
            border-radius: 25px;
            border: 2px solid #3b3b3b;
            // background: #007cff;
            color: #000;
            //text-transform: uppercase;
            width: 90px;
            display: block;
            margin: 0 auto;
            opacity: 0.8;
            cursor: pointer;
            background-color: #3b3b3b;            
            color: #fff;
                        &:hover{
                transition: all 0.3s;
                transform: scale(1.1)
            }
        }

    }
    
}
.nav_page_list{
    display: flex;    
    justify-content: center;
    gap: 30px;
}
.nav_page_link{
    border: #999 1px solid;
    border-radius: 4px;
    padding: 4px 5px;
    text-transform: capitalize;
    width: 100%;
    
}

#content{
    padding: 20px 0;
    display: block;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    transform: translate();
    transition: all 0.3s ease;
   
    
    .list{
        
        text-align: center;
        max-width: 500px;
        width: 100%;
        
        
        .country{
            font-weight: 700;
            font-size: 60px;
            color: #fff;
            text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
        }
        .city_name{
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 60px;
            color: #fff;
            text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
        }
        .description{
            text-transform: capitalize;
            color: #fff;
        }
        img{
            width: 160px;
        }
        .temp{
            margin-bottom: 10px;
            font-weight: 700;
            font-size: 70px;
            color: #fff;
            text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
        }
        .speed{
            text-transform: capitalize;
            color: #fff;
        }
        
    }
}
.content_wrapper{
    margin: 0 auto;
    display: block;
    max-width: 500px;
    // background-color: rgb(15, 177, 189);
    border-radius: 10px;
    width: 100%;
    
}

.location_wrapper{
   
    text-align: center;
    .country_name,
    .city_name{ 
        font-weight: 700;
        font-size: 60px;
        color: #fff;
        text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;   
    }
    
}

.day_list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
    .day_list_item{
        min-width: 180px;
        padding: 5px;
        border: #000 2px solid;
        border-radius: 4px;
        background-color: #1a1516;;
        text-align: center;
        opacity: 0.9;
        color: #fff;
        .temp{
            font-weight: 700;
            font-size: 34px;
            text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    
        }
        .txt{
            font-weight: 600;
        }
        .description{
            text-transform: capitalize;
            line-height: 30px;
        }
        .wind{
            font-weight: 700;
            font-size: 24px;
            text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
        }
        .wind_icon,
        .temp_icon{
            width: 30px;
        }
    }
    
}

.hours_list{
    display: grid;
    grid-template-columns: repeat(auto-fill, 190px);
    justify-content: space-evenly;
    //flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    padding-top: 30px;
    
}
.day_list_item{
    min-width: 180px;
    padding: 5px;
    border: #000 2px solid;
    border-radius: 4px;
    background-color: #1a1516;;
    text-align: center;
    opacity: 0.9;
    color: #fff;
    .temp{
        font-weight: 700;
        font-size: 34px;
        text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;

    }
    .days{
        font-weight: 600;
    }
    .description{
        text-transform: capitalize;
        line-height: 30px;
    }
    .wind{
        font-weight: 700;
        font-size: 24px;
        text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    }
    .wind_icon,
    .temp_icon{
        width: 30px;
    }
}


@media screen and (max-width: 550px){
#content{
    .list{
        .country{
            font-size: 3rem;
        }
        .city_name{
            font-size: 3rem;
        }
        .temp{
            
            font-size: 3rem; 
        }
        
    }
}
.form{
    .btn_container{
        .btn_search{
            font-size: 12px;
            
        }
    }
}

#day_content{
    .day_list{
        // display: flex;
        // flex-direction: column;
        .day_list_item{
            
            width: 100%;
            .txt{
                font-weight: 600;
            }
            .temp{
                font-weight: 700;
                
                text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
            }
            .wind{
                font-weight: 700;
                font-size: 24px;
                text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
            }
        }
    }
}

}
    
